<footer class="footer">-
    {{ partial "footer/links-social.html" . }}
    {{ partial "footer/go-to-top" . }}
    <hr />

    <div class="basicflex">
        {{ range $.Param "footerLinks" }}
            <a href="{{ .link }}" class="footer__link" target="_blank" rel="noreferrer">{{ .name }}</a>
        {{ end }}
    </div>

    <div class="footer__poweredby">


        {{ if $.Param "showPoweredBy" }}
            <p class="caption"><a  target="_blank" rel="noreferrer">HiveMind SC @ 2020</a><a  target="_blank" rel="noreferrer"></a></p>
        {{ end }}
        
    </div> 
</footer>